<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-signin-client_id" content="994575881691-l2ecbd7cq62vi2vi0vhpenb1bit6q1nr.apps.googleusercontent.com">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
        <link rel="icon" type="image/x-icon" href="red-blue-loop.ico">
      </head>
      <body>
        <div class="banner">
            <div class="title">
                <a href="index.html"><h1>HTML and CSS Editor</h1></a>
            </div>
            <div class="right2">
                <button onclick="dropDownLabs()" class="drop-button-labs">Labs</button>
                <div id="dropDownLabs" class="dropdown-contentlabs">
                    <a href="header.html">h tag</a>
                    <a href="paragraph.html">p tag</a>
                </div>
            </div>
            <div class="right">
              <button onclick="dropDownInfo()" class="drop-button-info">Info</button>
              <div id="dropDownInfo" class="dropdown-contentinfo">
                  <a href="#" onclick="signOut();">Sign out</a>
                  <div id="message">Sign in </div>
              </div>
          </div>
        </div>
        <div class = "center" id="my-signin2"></div>
        <script>
          function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            document.getElementById("message").innerHTML = "Signed in as: " + googleUser.getBasicProfile().getName()
          }
          function onFailure(error) {
            console.log(error);
          }
          function renderButton() {
            gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
            });
          }
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            document.getElementById("message").innerHTML = "Sign in"
            });
          }
        </script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </body>
</html>
