<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-signin-client_id" content="994575881691-l2ecbd7cq62vi2vi0vhpenb1bit6q1nr.apps.googleusercontent.com">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
      </head>
      <body>
        <div class="banner">
            <div class="title">
                <a href="index.html"><h1>HTML and CSS Editor</h1></a>
            </div>
            <div class="dropdown">
                <button onclick="dropDown()" class="dropbtn">Labs</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="header.html">h tag</a>
                    <a href="paragraph.html">p tag</a>
                </div>
            </div>
        </div>
        <h1 id="message"></h1>
        <center id="my-signin2"></center>
        <script>
          function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            document.getElementById("message").innerHTML = googleUser.getBasicProfile().getName()
          }
          function onFailure(error) {
            console.log(error);
          }
          function renderButton() {
            gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
            });
          }
        </script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </body>
</html>
