* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .banner {
    height: 60px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h1 {
    margin: 0 0 0 20px;
  }
  .title a {
    text-decoration: none;
    color: black;
  }
  .content {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .project {
    width: 30%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .project ul {
    padding: 20px;
  }
  .instructions {
    flex: 50%;
    padding: 20px;
  }
  .feedback {
    flex: 50%;
    padding: 20px;
  }
  .code-area {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 2px solid black;
  }
  .code-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 50%;
    font-size: 18px;
    padding: 10px;
  }
  .preview-area {
    width: 40%;
  }
  .preview-area iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  .dropbtnlabs {
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 4px 0;
    width: 80px;
    font-size: 24px;
    border: 1px solid darkslategrey;
  }
  .dropbtninfo {
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 4px 0;
    width: 80px;
    font-size: 24px;
    border: 1px solid darkslategrey;
  }
  .dropbtnlabs:hover, .dropbtnlabs:focus {
    background-color: lightslategrey;
  }
  .dropbtninfo:hover, .dropbtninfo:focus {
    background-color: lightslategrey;
  }
  .dropdown {
    margin-right: 10px;
    margin-left: auto;
  }
  .dropdown_sign {
    margin-right: 50px;
    margin-left: auto;
  }
  .dropdown-contentlabs {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    border-radius: 6px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 1;
  }
  .dropdown-contentinfo {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    border-radius: 6px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 1;
  }
  .dropdown-contentlabs a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentinfo a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentlabs a:hover {
    background-color: #ddd
  }
  .dropdown-contentinfo a:hover {
    background-color: #ddd
  }
  .showlabs {
    display:block;
  }
  .showinfo {
    display:block;
  }
  .CodeMirror {
    font-size: 20px;
  }
  .sign_in_button{
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    padding: 10px;
    }
    .right {
      position: absolute;
      left: 95%;
    }
    .right2 {
      position: absolute;
      left: 90%;
    }
